In [10]:
import sqlite3

In [ ]:
## connect to a SQLite database
connection = sqlite3.connect("example.db")
connection

In [7]:
cursor = connection.cursor()

In [14]:
## creating table
cursor.execute('''
Create Table If Not Exists employees(
id Integer primary Key,
name Text Not Null,
age Integer,
department text
)
''')
## commit the changes
connection.commit()

In [16]:
## insert into table
cursor.execute('''
  Insert Into employees(name,age,department)
  Values('Utkarsh',20,'CSE')
''')
cursor.execute('''
  Insert Into employees(name,age,department)
  Values('BOB',20,'mechanical')
''')
cursor.execute('''
  Insert Into employees(name,age,department)
  Values('Charlie',20,'EE')
''')

##commit the changes
connection.commit()

In [17]:
## query the data from table
cursor.execute('Select * from employees')
rows=cursor.fetchall()
##print the data
for row in rows:
  print(row)

(1, 'Utkarsh', 20, 'CSE')
(2, 'BOB', 20, 'mechanical')
(3, 'Charlie', 20, 'EE')

In [19]:
## update details
cursor.execute('''
Update employees
Set age=21
where name='Utkarsh'
''')

In [20]:
## query the data from table
cursor.execute('Select * from employees')
rows=cursor.fetchall()
##print the data
for row in rows:
  print(row)

(1, 'Utkarsh', 21, 'CSE')
(2, 'BOB', 20, 'mechanical')
(3, 'Charlie', 20, 'EE')

In [22]:
### delete data
cursor.execute('''
Delete from employees
where name='BOB'
''')

## query the data from table
cursor.execute('Select * from employees')
rows=cursor.fetchall()
##print the data
for row in rows:
  print(row)

(1, 'Utkarsh', 21, 'CSE')
(3, 'Charlie', 20, 'EE')